<section>
    <h1>{{name}}</h1>
    <div class="names" ng-repeat="name in names">
        <p>{{name}}</p>
    </div>
    <button ng-click="show()">Klicka här</button>
</section>

<ikhlaq-is-cool></ikhlaq-is-cool>

<button ng-click="showData()">Hämta Data</button>
<button ng-click="showBilder()">Hämta Bilder</button>

<div ng-repeat="data in data">
    <pre>{{data | json}}</pre>
</div>

<div class="bilder" ng-repeat="bild in bilder">
    <h4>{{bild.title}}</h4>
    <img ng-src="{{bild.url}}">

</div>